<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<configSections> 
		<sectionGroup name="jayrock"> 
			<section name="json.conversion.exporters" type="Jayrock.Json.Conversion.ExporterListSectionHandler, Jayrock.Json"/> 
		</sectionGroup> 
	</configSections> 
	
	<jayrock> 
		<json.conversion.exporters> 
			<exporter type="com.voodoowarez.EveRetrieve.SolarExporter, solar"/>
		</json.conversion.exporters> 
	</jayrock>
	
	<appSettings>
		<add key="dbConnString" value="" />
	</appSettings>
	
</configuration>
